<div id="intro" class="p-5  bg-black border border-secondary shadow-5 rounded mb-5" >
    <div class="row">
      <div class="col-6">
        <img class="img-fluid border border-3 border-danger " src="{{search[5]}}" style="max-height: 45vh;">
      </div>
      <div class="col-6">
          <h1 class="my-3 text-white">{{search[0]}}</h1><h3 class="my-3 text-white">{{search[1]}}★</h3>
          <h5 class="mb-3 text-secondary text-wrap">{{search[2]}}</h5>
          <h5 class="mb-3 text-secondary text-wrap d-none d-md-block">{{search[3]}}</h5>
      </div>
    </div>
  </div>