{% extends 'base.html'%}
  {% block style%}
  <style>
    #intro {
      background-image: url("https://img.freepik.com/free-vector/red-movie-theater-seats-with-curtains-background_1017-38388.jpg?semt=ais_hybrid");
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
       margin-top: -88.59px;
      }
    }

 
  </style>
{% endblock %}

{% block content %}
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-md-8">
            
            <form class="bg-white rounded shadow-5-strong p-5" method="POST" action="{{url_for('auth.login_page')}}" enctype="multipart/form-data" novalidate>
              {{ form.csrf_token }}
                <h3>Login</h3><h6>To access all functionalities</h6> <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <ul>
                    {% for message in messages %}
                    <li style="font-size: 12pt;">{{ message }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                {%endif%}
                {%endwith%}
                {%for user in users %}
                  <p>{{user.Username}}-{{user.User_ID}}---Reviews:{{user.reviews|length}}---Watchlist:{{user.watchlist|length}}</p>
                {%endfor%}
              <!-- Email input -->
              <div class="form-outline mb-4" data-mdb-input-init>
                {{form.email(class_="form-control")}}
                <label class="form-label" for="email">Email</label>
              </div>
 
              <!-- Password input -->
              <div class="form-outline mb-4" data-mdb-input-init>
                {{form.password(class_="form-control")}}
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    {{form.remember_me(class_="form-check-input")}}
                    <label class="form-check-label" for="form1Example3">
                      Remember me
                    </label>
                  </div>
                </div>

                <div class="col text-center">
                  <!-- Simple link -->
                  <a href="#!">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block " data-mdb-ripple-init>Sign in</button>

              <div class="row my-4">
                <div class="col text-center">
                    <p>You don't have an account  <a href="{{url_for('auth.signup_page')}}">Sign up here</a> </p> 
                </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}