{% macro carousel_item(movies,active=false)%}
      {% if active%}
      <div class="carousel-item active " >
      {% else %}
      <div class="carousel-item "  >
      {%endif%}
          <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3  ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong" style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[0][5]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[0][0]}}</h5><h6>{{movies[0][1]}}★</h6>
                            <p class="card-text">{{movies[0][3]}}</p>
                            <a href="https://www.themoviedb.org/movie/{{movies[0][4]}}" target="_blank" class="btn btn-danger" data-mdb-ripple-init>Read more</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-none d-md-block mb-3 ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong" style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[1][5]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[1][0]}}</h5><h6>{{movies[1][1]}}★</h6>
                            <p class="card-text">{{movies[1][3]}}</p>
                            <a href="https://www.themoviedb.org/movie/{{movies[1][4]}}" target="_blank" class="btn btn-danger" data-mdb-ripple-init>Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  d-none d-lg-block mb-3 ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong " style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[2][5]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[2][0]}}</h5><h6>{{movies[2][1]}}★</h6>
                            <p class="card-text">{{movies[2][3]}} </p>
                            <a href="https://www.themoviedb.org/movie/{{movies[2][4]}}" target="_blank" class="btn btn-danger " data-mdb-ripple-init>Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

{%endmacro%}

{% macro small_card(movie)%}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card border  border-3 border-danger shadow-4-strong h-100">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="{{movie[5]}}" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{movie[0]}}</h5><h6>{{movie[1]}}★</h6><hr class="hr"/>
        <p class="card-text">
          <p>{{movie[2]}}</p>
          {{movie[3][:200]}}...
        </p>
        <a href="https://www.themoviedb.org/movie/{{movie[4]}}" target="_blank" class="btn btn-danger" data-mdb-ripple-init>Read more</a>
      </div>
    </div>
  </div>
{%endmacro%}

{% macro wide_card(movie)%}
<div class="col-lg-4 col-md-12 mb-4">
    <div class="card border  border-3 border-danger shadow-4-strong h-100">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="{{movie[5]}}" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{movie[0]}}</h5><h6>{{movie[1]}}★</h6>
        <hr class="hr"/>
        <p class="card-text">
          {{movie[3][:200]}}...
        </p>
        <a href="https://www.themoviedb.org/movie/{{movie[4]}}" target="_blank" class="btn btn-danger"  data-mdb-ripple-init>Read more</a>
      </div>
    </div>
  </div>
{% endmacro%}