<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Recommendations for {{ search_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
.bg{
    width: 100%;
    height:auto;
	min-height:100vh;
    background-image:url('https://wallpapercave.com/wp/wp3248769.jpg');
    background-size: 100% 100%;
    background-position: top center;  
  }

  .secondLine{
  font-weight: 350;
  font-size:20px;
  margin-bottom: 15%;
  color: white;
}

.firstLine{
font-size: 30px;
color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
  box-sizing: border-box;
}


</style>
</head>
<body class="bg ">
    <body>

        <div class="container-fluid centered d-flex flex-column">
        <div class="row">
            <div class="col-md-12">
                <br><br>
                <h4 class="firstLine" >
                    &emsp;You searched for {{search_name}}:
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="firstLine ">
                    &emsp;You may also like:
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            {% for movie in movies %}
            <div class="col-md-2">
                <div class="card" style="width:18rem;">
                    <img class="card-img-top" src="{{movie.iloc[5]}}" alt="Interstellar">
                    <div class="card-body">
                      <h4 class="card-title">{{movie.iloc[0]}}</h4>
                      
                      <div class="container">
                                       <div class="row">
                                          <div class="col-sm-4 metadata"> 
                                             <p>{{movie.iloc[1]}}<i class="fa fa-star" aria-hidden="true"></i></p>
                                          </div>
                                          <div class="col-sm-8 metadata">{{movie.iloc[2]}}</div>
                                       </div>
                                    </div> 
                      
                      <p class="card-text">{{movie.iloc[3]}}</p>
                      <a class="play_button" href="https://www.themoviedb.org/movie/{{movie.iloc[4]}}" target="new"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                  </div>
            </div>
            {% endfor %}
            <div class="col-md-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
        <br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </div>
<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  
</body>
</html>
