
{% import 'CardMacros.html' as cm %}
<!--Carousel -->
<div class="container-fluid d-flex flex-column justify-content-center bg-black" >
  <hr class="hr bg-black py-5" />

  <h3 class="align-self-center text-white"> Top movies:</h3>
  <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner p-3 ">

        {{cm.carousel_item(movies[0],true)}}
        {% for i in range(1,3)%}
        {{cm.carousel_item(movies[i])}}
        {% endfor %}
    </div>
      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
<!-- Carousel --> 
