<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center bg-black h-100">
      <div class="mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{{user.avatar(100)}}" alt="Avatar" class="img-fluid my-5 rounded-circle" />
              <h5>{{user.first_name}} {{user.last_name}}</h5>
              <p>Movie connoisseur</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.Email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{user.Username}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>With us since</h6>
                    <p class="text-muted">{{user.since_date()}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Last seen</h6>
                    <p class="text-muted">{{user.last_seen_at()}}</p>
                  </div>
                </div>
                <h6>About me</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Bio</h6>
                    <p class="text-muted">{{user.Bio}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>