<div class="container w-100">
    <div class="row">
        {% for movie in watchlist %}
        <div class="col-md-4 mt-3 col-lg-3" >
            <div class="bg-image hover-overlay " >
            {% if movie.poster_path != "" %} 
                <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="img-thumbnail w-100 h-auto" alt="{{movie.title}}" >
                
            {% else %} 
                <img src="{{url_for('static',filename='default-movie.png')}}" alt="Missing poster">
            {% endif %}
                <div class="mask" style="background: linear-gradient(20deg, rgba(2,0,36,0.7931547619047619) 25%, rgba(121,24,9,0.7483368347338936) 57%, rgba(0,5,6,0.5018382352941176) 100%);">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination">
    {% if w_prev != None %}
      <li class="page-item">
        <a class="page-link" href="{{w_prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{request.args.get('wpage') or 1}}</a></li>
      {% if w_next != None %}
      <li class="page-item">
        <a class="page-link" href="{{w_next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
 