
{% import 'CardMacros.html' as cm %}
{% extends 'base.html' %}

{% block style %}
<script>
 function watchlist_add(button,movie_id) {
    $.get("/profile/add/" + movie_id, function(data) {
        button.innerHTML = data;
        button.onclick = null;
    });
}   
</script>
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 100px;
    }
  
    @media(max-width:992px) {
      i {
        color: white !important;
      }
    }

    .starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
  </style>

{% endblock %}
    <!--Main Navigation-->

<!--Main Navigation-->
{% block content %}
<!--Main layout-->
{% if current_user.is_authenticated %}
  {% include "_review_modal.html" %}
{% endif %}
<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <!-- Jumbotron -->
          {% if search_name is defined %}
            {% include '_jumbotron.html'%}
          {% else%}
            {% include '_jumbotron_image.html'%}
          {%endif%}
      <!-- Jumbotron -->
    </section>
    <!--Section: Testimonials-->
    <section>
      {%if search and reviews|length > 0 %}
        {% include "_testimonials.html" %}
      {% endif %}
    </section>
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5 text-secondary"><strong>These may interest you:</strong></h4>
        {% for movie_row in movies|batch(3) %}
        <div class="row">
            {% for i in range(movie_row|length)%}
                {%if i % 3 == 0 %}
                    {{cm.wide_card(movie_row[i],current_user)}}
                {%else%}
                    {{cm.small_card(movie_row[i],current_user)}}
                {%endif%}
            {%endfor%}
        </div>
      {%endfor%}
    </section>
    <!--Section: Content-->

  </div>
</main>
<!--Main layout-->
{% endblock %}


