{% extends 'base.html'%}
{% block style %}
<script src="{{url_for('static',filename='autocomplete.js')}}"></script>
<script>
$(document).ready( function() {
    $.get("/titles",function(data) {
        const title_list = data;
        set_autocomplete('movies', 'form_complete', title_list, start_at_letters=2, count_results=3);
    });

    document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault();
    // Perform validation or other operations
    $.post( '/profile/add/movie', $('#myForm').serialize(), function(data) {
        $("#watchlist").html(data);
       }
    );

    
});

    
})
function watchlist_del(movie_id) {
    $.get("/profile/del/" + movie_id, function(data) {
        $("#watchlist").html(data);
    });
}

function review_del(movie_id) {
    $.get("/profile/del/review/" + movie_id, function(data) {
        $("#reviews").html(data);
    });
}



</script>
<style>
.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(121,24,9,1), rgba(0,5,6,1))
}
#image{
  background: linear-gradient(20deg, rgba(2,0,36,1) 25%, rgba(121,24,9,1) 57%, rgba(0,5,6,1) 100%)
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

</style>
{% endblock %}
</head>

{% block content %}


<div class="container-fluid bg-image" id="image">
<div class="bg-black text-white container-md my-5 py-5 rounded-3">
 <div>
  {% include '_profile_user_card.html' %}
 </div>

<!-- Modals -->
{% include '_review_modal.html' %}
{% include '_edit_user.html' %}
<div class="container-fluid  text-secondary my-5 d-flex flex-column bg-black">
  <h2 class="text-white">Your reviews </h2>
  <div id="reviews" class="">
      {% include '_profile_reviews.html'%}
  </div>
</div>
<hr class="hr" style="color:silver">
<div class="container-fluid  text-secondary my-3 d-flex flex-column">
  <h2 class="text-white d-inline">Your movies </h2>
  <form class="form-inline  w-100" id="myForm">
         <div class="row align-self-center">
           <div class="col-lg-4 col-md-6 col-sm-8 ">
             <input type="text" class="form-control  form-control" name="movie" id="movies" />
             <div class="position-absolute invisible bg-dark" style="color:black;z-index: 100;" id="form_complete"></div>
           </div>
           <div class="col-lg-2 col-md-5 col-sm-4" >
             <input type="submit" class="form-control  btn btn-primary" id="submitButton" value="Dodaj"/>
           </div>
         </div>
  </form>
  <div class="d-flex flex-row">
  <div class="col-md-1 col-lg-2 d-xs-none"></div>
  <div id="watchlist" class="align-self-center col-md-10 col-lg-8 col-xs-12 ">
    {% include '_profile_watchlist.html'%}
  </div>
  <div class="col-md-1 col-lg-2 d-xs-none"></div>
</div>

</div>
</div>
{% endblock %}
