{% extends 'base.html'%}
{% block style %}
<script src="{{url_for('static',filename='autocomplete.js')}}"></script>
<script>
$(document).ready( function() {
    $.get("/titles",function(data) {
        const title_list = data;
        set_autocomplete('movies', 'form_complete', title_list, start_at_letters=2, count_results=3);
    });

    document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault();
    // Perform validation or other operations
    $.post( '/profile/add/movie', $('#myForm').serialize(), function(data) {
        $("#watchlist").html(data);
       }
    );

    
});

    
})
function watchlist_del(movie_id) {
    $.get("/profile/del/" + movie_id, function(data) {
        $("#watchlist").html(data);
    });
}

function review_del(movie_id) {
    $.get("/profile/del/review/" + movie_id, function(data) {
        $("#reviews").html(data);
    });
}



</script>
<style>

#image{
  background: linear-gradient(20deg, rgba(2,0,36,1) 25%, rgba(121,24,9,1) 57%, rgba(0,5,6,1) 100%)
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

</style>
{% endblock %}
</head>

{% block content %}


<div class="container-fluid bg-image" id="image">
<div class="bg-black text-white container-md my-5 py-5 rounded-3">
 <h3> Welcome {{current_user.Username}}</h3>


<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered  modal-lg modal-fullscreen-sm-down">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Dodaj Recenzję</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{url_for('public.add_review')}}" method="post" enctype="multipart/form-data">
      <div class="modal-body">
          <!-- Name input -->
          {{ form.csrf_token }}
           {{form.movie_ID()}}
          <div data-mdb-input-init class="form-outline mb-4">
            {{form.title(class_="form-control")}}
            <!-- <input type="text" id="form4Example1" class="form-control" /> -->
            <label class="form-label" for="title">Tytuł</label>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <div class="container">
              <div>Ocena </div>
              <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                {% for subfield in form.rating|reverse%}
                  {{subfield}}{{subfield.label}}
                {% endfor %}
             </div>
            </div>
          </div>

          <!-- Message input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <!-- <textarea class="form-control" id="form4Example3" rows="4"></textarea> -->
             {{form.review_text(class_="form-control",rows="4")}}
            <label class="form-label" for="form4Example3">Treść recenzji</label>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
        {{form.submit(class_="btn btn-primary",value="Zapisz")}}
        <!-- <input  type="submit" class="btn btn-primary"  value="Zapisz" data-mdb-ripple-init /> -->
      </div>
    </form>
    </div>
  </div>
</div>

<div class="container-fluid  text-secondary my-5 d-flex flex-column">
  <h2 class="text-white">Your reviews</h2>
  <div id="reviews" class="">
      {% include '_reviews.html'%}
  </div>
</div>
<hr class="hr" style="color:silver">
<div class="container-fluid  text-secondary my-3 d-flex flex-column">
  <h2 class="text-white d-inline">Your movies</h2>
  <form class="form-inline  w-100" id="myForm">
         <div class="row align-self-center">
           <div class="col-lg-4 col-md-6 col-sm-8 ">
             <input type="text" class="form-control  form-control" name="movie" id="movies" />
             <div class="position-absolute invisible bg-dark" style="color:black;z-index: 100;" id="form_complete"></div>
           </div>
           <div class="col-lg-2 col-md-5 col-sm-4" >
             <input type="submit" class="form-control  btn btn-primary" id="submitButton" value="Dodaj"/>
           </div>
         </div>
  </form>
  <div class="d-flex flex-row">
  <div class="col-md-1 col-lg-2 d-xs-none"></div>
  <div id="watchlist" class="align-self-center col-md-10 col-lg-8 col-xs-12 ">
    {% include '_watchlist.html'%}
  </div>
  <div class="col-md-1 col-lg-2 d-xs-none"></div>
</div>

</div>
</div>
{% endblock %}
