{% macro carousel_item(movies,active=false)%}
      {% if active%}
      <div class="carousel-item active " >
      {% else %}
      <div class="carousel-item "  >
      {%endif%}
          <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3  ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong" style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[0][4]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[0][0]|title}}</h5><h6>{{movies[0][1]}}★</h6>
                            <p class="card-text">{{movies[0][2]}}</p>
                            <a href="https://www.themoviedb.org/movie/{{movies[0][3]}}" target="_blank" class="btn btn-danger" data-mdb-ripple-init>Read more</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-none d-md-block mb-3 ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong" style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[1][4]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[1][0]|title}}</h5><h6>{{movies[1][1]}}★</h6>
                            <p class="card-text">{{movies[1][2]}}</p>
                            <a href="https://www.themoviedb.org/movie/{{movies[1][3]}}" target="_blank" class="btn btn-danger" data-mdb-ripple-init>Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  d-none d-lg-block mb-3 ">
                    <div class="card h-100 border-3 border border-danger shadow-3-strong " style="width: 18rem;">
                        <img class="img-fluid" alt="100%x280" src="{{movies[2][4]}}">
                        <div class="card-body">
                            <h5 class="card-title">{{movies[2][0]|title}}</h5><h6>{{movies[2][1]}}★</h6>
                            <p class="card-text">{{movies[2][2]}} </p>
                            <a href="https://www.themoviedb.org/movie/{{movies[2][3]}}" target="_blank" class="btn btn-danger " data-mdb-ripple-init>Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

{%endmacro%}

{% macro small_card(movie,current_user)%}
{%set default_src = url_for('static',filename='default-movie.png') %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card border  border-3 border-danger shadow-4-strong h-100">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Not Found" onerror="this.src='{{default_src}}';this.onerror=null" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{movie.title|title}}</h5><h6>{{"%.2f"|format(movie.vote_average)}}★</h6><hr class="hr"/>
        <p class="card-text">
          <p>{{movie.genres}}</p>
          {{movie.overview[:200]}}...
        </p>
        <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank" class="btn btn-danger me-2" data-mdb-ripple-init>Read more</a>
        {% if current_user.is_authenticated %}
            {% if movie in current_user.watchlist %}
              <button class="btn btn-danger btn-floating"><i class='fas fa-heart' style="font-size: 2em;"></i></button>
            {% else %}
              <button class="btn btn-danger btn-floating" onclick="watchlist_add(this,'{{movie.id}}')"><i class="far fa-heart " style="font-size: 2em;"></i></button>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{%endmacro%}

{% macro wide_card(movie,current_user)%}
{%set default_src = url_for('static',filename='default-movie.png') %}
<div class="col-lg-4 col-md-12 mb-4">
    <div class="card border  border-3 border-danger shadow-4-strong h-100"  >
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Not Found" onerror="this.src='{{default_src}}';this.onerror=null" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{movie.title|title}}</h5><h6>{{"%.2f"|format(movie.vote_average)}}★</h6>
        <hr class="hr"/>
        <p class="card-text">
          <p>{{movie.genres}}</p>
          {{movie.overview[:200]}}...
        </p>
        <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank" class="btn btn-danger me-2"  data-mdb-ripple-init>Read more</a>
        {% if current_user.is_authenticated %}
            {% if movie in current_user.watchlist %}
              <button class="btn btn-danger btn-floating" ><i class='fas fa-heart' style="font-size: 2em;"></i></button>
            {% else %}
              <button class="btn btn-danger btn-floating" onclick="watchlist_add(this,'{{movie.id}}')"><i class="far fa-heart " style="font-size: 2em;"></i></button>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro%}